body {
    margin: 0;
    overflow: hidden;
    background-color: #e4e4e4;
    /* Light background color */
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #9e9e9e;
    /* White canvas background */

}

.he {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: black;
    color: white;
}